@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #695aa6;
}

.container{
    width: 50vw;
    background: #fff;
    padding: 6vh 4vw;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 30px 45px rgba(18, 8, 39, 0.2);
}

h2{
    text-align: center;
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: 0.2vw;
}

h2 span{
    color: #895cf3;
}

.wrapper-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh 0 7vh 0;
    gap: 1vh;
}

.wrapper-1 input{
    width: 6vw;
    font-size: 1.5vw;
    font-weight: 600;
}

input{
    padding: 2vh 0.6vw;
    border: 1px solid #bbc0c5;
    border-radius: 5px;
    color: #170444;
    outline: none;
}

input:focus{
    border: 2px solid #895cf3;
}

label{
    color: #170444;
    font-weight: 600;
    letter-spacing: 0.6px;
    font-size: 1.5vw;
}

.box{
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.wrapper-2 input, .wrapper-3 input{
    width: 100%;
    font-size: 0.8vw;
}

@media (max-width: 1024px) {
    .container {
        width: 90vw;
    }

    h2 {
        font-size: 8vw;
    }

    input {
        padding: 2vh 2vw;
    }

    .wrapper-1 input{
        width: 15vw;
        font-size: 6vw;
    }

    .wrapper-2 input, .wrapper-3 input{
        width: 100%;
        font-size: 4vw;
    }

    label {
        font-size: 4vw;
    }
}