body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #333;
}

h1 {
    font-size: max(3vw, 3vh);
    margin-top: max(3vw, 3vh);
    line-height: max(3vw, 3vh);
    color: #fff;
}

h2 {
    font-size: 2vw;
    margin-top: max(2vw, 2vh);
    line-height: max(2vw, 2vh);
    color: #fff;
}

p {
    color: #fff;
    font-size: max(1vw, 1vh);
}

.container {
    width: 100%;  
    display: flex;
    justify-content: space-around;
}

.container_family {
    width: 30vw;
    padding: 3vh 0 3vh 0;
    background-color: #222;
    border-radius: 2vh;
    aspect-ratio: 19 / 9;
    margin: 0 auto;
}

@media (max-width: 767px) {
    h2 {
        font-size: 6vw;
    }

    p {
        color: #fff;
        font-size: max(2vw, 2vh);
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container_family {
        width: 80vw;
        padding: 3vh 0 3vh 0;
        background-color: #222;
        border-radius: 2vh;
        aspect-ratio: 19 / 9;
        margin: 0 auto;
        margin-top: 2vh;
    }
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: 80%;
    height: max(3vw, 3vh);
    font-size: 100%;
    aspect-ratio: 19 / 9;
}

button {
    background-color: #1293dd;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: max(10vh, 10vw);
    height: 5vh;
    font-size: 2vh;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

button:hover {
    background-color: #065c8d;
}